.flatDiscountPage {
	display: flex;
	flex-direction: column;
	max-width: 654px;
	width: 100%;
	margin-inline: auto;
	align-items: center;
	gap: 14px;

	.getFlat-container {
		margin-top: 23px;
	}
}

@media screen and (max-width: 1200px) {
	.services-page {
		.our-service-container-page {
			.our-services-container-page {
				width: 100%;
				margin-inline: auto;
				display: flex;
				flex-direction: column;
				align-items: center;

				& .our-services-container-top, .our-services-container-bottom{
					max-width: 600px;
					width: 100%;

					& .product-container{
						width: 100%;
						max-width: 100%;
					}
				}
			}
		}
	}
}
